body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #f4f4f4);
    overflow: hidden;
    position: relative;
}
.flor {
    position: relative;
    width: 100px;
    height: 150px;
}
.petalo {
    width: 50px;
    height: 50px;
    background: yellow;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    animation: aparecer 1s forwards;
}
.petalo:nth-child(1) { top: 0; left: 25px; animation-delay: 0.5s; }
.petalo:nth-child(2) { bottom: 50px; left: 25px; animation-delay: 1s; }
.petalo:nth-child(3) { left: 0; top: 25px; animation-delay: 1.5s; }
.petalo:nth-child(4) { right: 0; top: 25px; animation-delay: 2s; }
.centro {
    width: 40px;
    height: 40px;
    background: orange;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
}
.tallo {
    width: 10px;
    height: 100px;
    background: green;
    position: absolute;
    top: 80px;
    left: 45px;
}
.hoja {
    width: 30px;
    height: 15px;
    background: green;
    position: absolute;
    border-radius: 50%;
}
.hoja:nth-child(6) { top: 120px; left: 25px; transform: rotate(-30deg); }
.hoja:nth-child(7) { top: 140px; left: 50px; transform: rotate(30deg); }
.mensaje {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(81, 159, 204);
    display: flex;
    gap: 5px;
}
.letra {
    opacity: 0;
    animation: aparecerLetra 0.5s forwards;
}
.imagen {
    margin-top: 20px;
    width: 400px;
   
}
@keyframes aparecer {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes aparecerMensaje {
    from { opacity: 0; }
    to { opacity: 1; }
}
.corazon {
    position: absolute;
    color: red;
    font-size: 24px;
    opacity: 1;
    animation: flotar 3s linear forwards;
}
@keyframes flotar {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    100% { transform: translateY(-150px) scale(1.5); opacity: 0; }
}
